
/* .slider {
  outline: black solid 1px;
} */

/* .page-header {
  outline: green solid 1px;
} */
/* .navigation {
  outline: rgb(0, 41, 128) solid 1px;
} */

/* .slider ul {
  outline: rgb(22, 202, 225) solid 1px;
} */

/* .slider li {
  outline: rgb(52, 231, 16) solid 1px;
} */

/* .header-contact {
  outline: rgb(255, 251, 21) solid 1px;
} */

/* .slider div {
  outline: rgb(255, 145, 18) solid 1px;
} */
