@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Inter-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Inter-700.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Inter-900.woff2);
  font-display: swap;
}

.html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.button {
  font-family: inherit;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #2d3440;
  background-color: #fcfcfc;
  text-decoration: none;
}

/* Header */
.page-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  line-height: 20px;
  color: #2d3440;
}

.page-header a {
  color: #2d3440;
  text-decoration: none;
}

.navigation {
  width: 560px;
  margin-right: auto;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  /* Временное решение */
  list-style: none;
}

.navigation-link {
  text-align: center;
}

.header-contact-link {
  width: 150px;
  font-weight: 700;
  text-align: center;
}

.navigation-user {
  display: flex;
  width: 270px;
  margin: 0;
  padding: 0;
  /* Временное решение */
  list-style: none;
}

.navigation-user-link {
  font-size: 14px;
}

/* Main */
.main-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}

/* Slider */
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  display: flex;
}

.slider-inner {
  width: 470px;
}

.slider-title {
  width: 1170px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.slider-description {
  font-size: 18px;
  line-height: 24px;
}

.slider-gallery {
  display: flex;
  list-style: none;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Promo */
.promo-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-item {
  width: 570px;
  background-color: #ff7799;
}

.promo-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

/* Favorites */
.favorite-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}
.favorite-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card {
  width: 270px;
  background-color: #fcfcfc;
}

.product-card-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-card-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/* Advantages */

.advantages-wrapper {
  background-image: url(../images/background-waffle.jpg);
  background-size: 100% auto;
}

.advantages {
  width: 1122px;
  margin: 0 auto;
  background-color: #ffffff;
}

.advantages-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Blog-news */
.index-columns {
 display: flex;
 justify-content: space-between;
}

.blog-news {
  width: 570px;
  background-color: #ffffff;
  background-image: url(../images/background-blog-news.jpg);
  background-size: 100% auto;
}

.blog-news-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #565c66;
}

.article-link {
  color: #2d3440;
  text-decoration: none;
}

.article-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

/* Subscription */
.subscription-wrapper {
  width: 570px;
  background-image: url(../images/background-subscribe.png);
  background-size: 100% auto;
}

.subscription {
  width: 558px;
  background-color: #ffffff;
}

/* Delivery */
.delivery {
  display: flex;
  background-color: #ffffff;
  background-image: url(../images/background-delivery.jpg);
  background-size: 100% auto;
}

.delivery-inner {
  width: 380px;
}

.delivery-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.delivery-form-wrapper {
  width: 500px;
  background-color: #fcfcfc;
}

.form-label {
  font-weight: 700;
}

/* Contacts */
.contacts {
  background-color: #ffffff;
  background-image: url(../images/background-contacts.jpg);
  background-size: 100% auto;
}

.contacts-wrapper {
  width: 343px;
  background-color: #fcfcfc;
}

.contacts-address {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-phone {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.contacts-work-hours {
  font-size: 14px;
  line-height: 20px;
}

/* Footer */
.page-footer {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.footer-social{
  width: 104px;
}

.footer-about-us {
  width: 356px;
}

.footer-about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-about-us-link {
  font-size: 14px;
  line-height: 20px;
}

.footer-about-us-link-marked {
  font-weight: 700;
}

.footer-copyright {
  width: 193px;
}

.copyright-description {
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  color: #2d3440;
}

/* Inner Catalog */
/* Breadcrumbs */
.breadcrumbs-list {
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #2d3440;
}

.breadcrumbs-link-current {
  /* подчеркивание border-bottom? */
}

.catalog-products-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
}

.control-select {
  min-width: 196px;
}

.catalog-filter-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-radio {
  min-width: 383px;
}

.catalog-filter-checkbox {
  min-width: 604px;
}

.catalog-filter-button {
  min-width: 185px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
}

.catalog-pagination-list {
  display: flex;
}

.pagination-link {
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}
