@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2");
  font-display: swap;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1366px;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 12px 32px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #2d3440;
  background-clip: padding-box;
  border: none;
  transform: translateZ(0);
  border-radius: 26px;
  text-decoration: none;
  cursor: pointer;
}

.button-basic {
  max-width: 200px;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4),
              0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-basic:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #fcfcfc,
              0 4px 15px rgba(133, 133, 133, 0.15);
}


.button-basic:active {
  box-shadow: 0 0 0 2px #2d3440;
}

.button-basic:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2d3440;
  outline: none;
}

.button-basic-loading {
  position: relative;
  max-width: 200px;
  padding-right: 38px;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4),
              0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-basic-loading::before {
  content: "";
  position: absolute;
  top: 0;
  right: 14px;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid #242424;
  opacity: 0.24;
  border-radius: 50%;
  box-sizing: border-box;
}

.button-basic-loading::after {
  content: "";
  position: absolute;
  top: 0;
  right: 14px;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid currentColor;
  border-color: #242424 transparent transparent transparent;
  border-radius: 50%;
  box-sizing: border-box;
  transform: rotate(45deg);
  animation: spinner 1.2s linear infinite;
}

.button-basic:disabled {
  color: #b9b9b9;
  background-color: #e7e7e7;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
}

.button-bright {
  max-width: 200px;
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3),
              0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-bright:hover {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px #ff2f64;
}


.button-bright:active {
  background-color: #feafc3;
  box-shadow: 0 0 0 2px #2d3440;
}

.button-bright:focus {
  box-shadow: 0 0 0 2px #2d3440;
  outline: none;
}

.button-bright-loading {
  max-width: 200px;
  padding-right: 38px;
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3),
              0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-bright-loading::before {
  content: "";
  position: absolute;
  top: 0;
  right: 14px;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid #242424;
  opacity: 0.24;
  border-radius: 50%;
  box-sizing: border-box;
}

.button-bright-loading::after {
  content: "";
  position: absolute;
  top: 0;
  right: 14px;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid currentColor;
  border-color: #242424 transparent transparent transparent;
  border-radius: 50%;
  box-sizing: border-box;
  transform: rotate(45deg);
  animation: spinner 1.2s linear infinite;
}

.button-bright:disabled {
  color: #565c66;
  background-color: #b9b9b9;
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
}

.button-light {
  max-width: 200px;
  padding: 8px 32px;
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px #fcfcfc;
  border-radius: 20px;
}

.button-light:hover {
  background-color: #fcfcfc;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.button-light:active {
  box-shadow: none;
}

.button-light:focus {
  box-shadow: 0 0 0 2px #2d3440;
  outline: none;
}

.button-light:disabled {
  opacity: 0.4;
}

/* Popovers */
.popover {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  display: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #2d3440;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.popover-title {
  align-self: start;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

/* Popover submenu */
.popover-navigation {
  top: 44px;
  left: 0;
  min-width: 135px;
}

.popover-submenu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 8px 0;
  text-align: start;
  list-style-type: none;
}

.popover-submenu-link {
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  text-decoration: none;
}

.popover-submenu-link:hover,
.popover-submenu-link:focus {
  background-color: #ffcbd8;
  outline: none;
}

.popover-submenu-link:active {
  background-color: #ff7799;
}

.popover-submenu-link-current {
  color: #fcfcfc;
  background-color: #ff4a78;
}

.popover-submenu-link-marked {
  position: relative;
  padding-top: 8px;
  padding-bottom: 16px;
  font-weight: 700;
}

.popover-submenu-link-marked::after {
  content: "";
  position: absolute;
  bottom: 4px;
  width: 103px;
  height: 1px;
  background-color: #b9b9b9;
}

/* Popover search */
.popover-search {
  width: 356px;
  padding: 24px 16px;
}

.popover-search-form {
  display: flex;
  flex-direction: column;
}

.form-field[type="search"] {
  position: relative;
}

.form-field[type="search"]::-webkit-search-cancel-button {
  position: absolute;
  right: 10px;
  height: 16px;
  width: 16px;
  background-color: transparent;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  -webkit-appearance: none;
}

/* Popover login */
.popover-login {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 420px;
  padding: 48px;
  box-sizing: border-box;
}

.popover-login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popover-login-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-self: flex-start;
  margin-top: 8px;
}

.popover-login-submit {
  align-self: center;
}

.login-links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.login-link {
  color: #2d3440;
  border: 1px solid transparent;
  border-bottom: 1px solid #2d3440;
  text-decoration: none;
}

.login-link:focus {
  outline: 2px solid #2d3440;
}

/* Popovers cart */
.popover-cart {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 441px;
  padding: 48px;
}

.popover-cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  justify-content: start;
  align-items: center;
}

.popover-cart-item + .popover-cart-item {
  margin-top: 24px;
}

.popover-cart-list {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e7e7;
}

.popover-cart-product {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  max-width: 226px;
  margin: 0;
  padding-left: 62px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 46px 46px;
}

.product-raspberry {
  background-image: url("../images/catalog/raspberry.jpg");
}

.product-bubble-gum {
  background-image: url("../images/catalog/bubble-gum.jpg");
}

.popover-product-price {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #b9b9b9;
}

.button-delete {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../images/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.button-delete:focus {
  outline: 2px solid #2d3440;
}

.popover-cart-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover-cart-empty {
  width: 288px;
  padding: 48px 0;
}

.popover-cart-empty .popover-text {
  margin: auto;
  font-size: 24px;
  line-height: 30px;
}

.popover-close {
  display: none;
}

/* Header */
.page-header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 20px;
  color: #2d3440;
}

.link-color {
  color: #2d3440;
  text-decoration: none;
}

.navigation {
  display: flex;
  max-width: 690px;
  margin-right: auto;
}

.navigation-logo {
  margin-right: 16px;
}

.navigation-logo[href]:hover .navigation-logo-image {
  opacity: 0.5;
}

.navigation-logo[href]:focus {
  outline: 2px solid #2d3440;
}

.navigation-logo-image {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-item:focus-within .popover {
  display: block;
}

.navigation-link {
  display: inline-block;
  padding: 6px 14px;
  text-align: center;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 30px;
}

.navigation-link[href]:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.navigation-link[href]:active {
  background-color: #fcfcfc;
  border: 2px solid #fcfcfc;
}

.navigation-link[href]:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  outline: none;
}

.navigation-link-current {
  color: #fcfcfc;
  background-color: #ff4a78;
  border: 2px solid #ff4a78;
}

.header-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 150px;
  margin-right: 15px;
}

.header-contact-link {
  font-weight: 700;
}

.header-contact-link:hover {
  opacity: 0.5;
}

.header-contact-link:focus {
  outline: 2px solid #2d3440;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 270px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item {
  position: relative;
}

.navigation-user-item:focus-within .popover {
  display: block;
}

.navigation-user-item + .navigation-user-item {
  margin-left: 15px;
}

.navigation-user-link {
  display: inline-block;
  min-height: 32px;
  padding: 4px 14px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  background-color: rgba(252, 252, 252, 0.3);
  background-clip: padding-box;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 27px;
}

.navigation-user-link[href]:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.navigation-user-link[href]:active {
  background-color: #fcfcfc;
  border: 2px solid #fcfcfc;
}

.navigation-user-link[href]:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  outline: none;
}

.navigation-user-search {
  position: relative;
  display: flex;
  min-width: 32px;
  padding: 6px;
  border-radius: 50%;
}

.navigation-user-link-current:not(.navigation-user-cart) {
  background-color: #ff4a78;
  border: 2px solid #ff4a78;
}

.navigation-user-link-current .navigation-user-icon {
  color: #fcfcfc;
}

.navigation-user-login {
  position: relative;
  min-width: 88px;
  padding-left: 35px;
}

.navigation-user-cart {
  min-width: 115px;
  padding-left: 36px;
  background-image: url("../images/user-navigation-cart.svg");
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.navigation-user-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-user-login .navigation-user-icon {
  right: auto;
  left: 14px;
  margin: auto 0;
}

/* Main */
.main-container {
  flex-grow: 1;
}

.main-index {
  padding-top: 23px;
}

/* Slider */
.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  margin-left: 70px;
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: none;
  align-items: center;
}

.slider-item-current {
  display: flex;
}

.slider-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.slider-description {
  max-width: 415px;
  margin: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.slider-gallery {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-gallery-item {
  padding: 0 17px;
}

.slider-gallery-item:last-child {
  margin-left: 41px;
}

.slider-gallery-item-current {
  position: relative;
  margin-right: 42px;
  padding: 0 20px;
}

.slider-gallery-item-current::before {
  content: "";
  position: absolute;
  top: calc(50% - 312px/2);
  right: 0;
  bottom: 0;
  left: calc(50% - 312px/2 + 3px);
  z-index: -1;
  width: 312px;
  height: 312px;
  background-color: #ffcbd8;
  border-radius: 50%;
}

.slider-gallery-item-preview {
  position: relative;
}

.slider-gallery-item-preview::before {
  content: "";
  position: absolute;
  top: calc(50% - 100px/2);
  right: 0;
  bottom: 0;
  left: calc(50% - 100px/2);
  z-index: -1;
  width: 100px;
  height: 100px;
  background-color: #ffcbd8;
  border-radius: 50%;
  opacity: 0.4;
}

.slider-image {
  display: block;
}

.slider-gallery-buttons {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-48%);
}

.slider-gallery-button {
  width: 38px;
  height: 38px;
  padding: 9px;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 50%;
}

.slider-gallery-button:hover {
  background-color: #fcfcfc;
  background-clip: border-box;
  border: 2px solid #fcfcfc;
}

.slider-gallery-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-gallery-button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  outline: none;
}

.slider-gallery-button .slider-gallery-button-icon {
  fill: #fcfcfc;
}

.slider-gallery-button:hover .slider-gallery-button-icon,
.slider-gallery-button:active .slider-gallery-button-icon,
.slider-gallery-button:focus .slider-gallery-button-icon {
  fill: #2d3440;
}

.slider-gallery-button-prev {
  transform: rotate(180deg);
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slider-pagination-item + .slider-pagination-item {
  margin-left: 8px;
}

.slider-pagination-button {
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  background-clip: padding-box;
  border: 1px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.slider-pagination-button[href]:hover {
  border: 1px solid #fcfcfc;
}

.slider-pagination-button[href]:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid rgba(252, 252, 252, 0.5);
}

.slider-pagination-button[href]:focus {
  border: 1px solid #2d3440;
  outline: none;
}

.slider-pagination-button-current {
  background-color: #fcfcfc;
  background-clip: border-box;
  border: 1px solid #fcfcfc;
}

.slider .social-list {
  max-width: 305px;
}

.slider .social-item {
  margin-left: 16px;
}

/* Promo */
.promo {
  margin-bottom: 81px;
}

.promo-title {
  max-width: 440px;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 55px;
  margin-right: auto;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promo-item {
  width: 570px;
  padding-top: 36px;
  padding-left: 36px;
  padding-bottom: 36px;
  box-sizing: border-box;
  background-color: #ff7799;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 19px;
}

.promo-item-raspberry {
  background-image: url("../images/promo-raspberry.png");
}

.promo-item-marshmello {
  background-image: url("../images/promo-marshmello.png");
}

.promo-item-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-item-description {
  max-width: 330px;
  margin: 0;
  margin-bottom: 28px;
}

/* Favorites */
.favorite-products {
  margin-bottom: 80px;
}

.favorite-title {
  max-width: 530px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 107px;
  margin-left: auto;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.favorite-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 91px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card {
  position: relative;
  width: 270px;
  padding-top: 133px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.product-card-interactive::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  min-height: 100%;
  border-radius: 8px;
}

.product-card-interactive:hover::before {
  box-shadow: inset 0 0 10px 0 #feafc3;
}

.product-card-interactive:hover .product-card-title,
.product-card-interactive:focus .product-card-title {
  color: #feafc3;
}

.product-card-title {
  max-width: 190px;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.product-card-image {
  position: absolute;
  top: -50px;
  left: 50px;
  border-radius: 50%;
}

.product-card-description {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
  color: #565c66;
}

.product-card-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.product-card-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-card-button {
  width: 32px;
  height: 32px;
  padding: 6px;
  box-sizing: border-box;
  background-color: #ff2f64;
  border: 2px solid #ff2f64;
  border-radius: 50%;
}

.product-card-button-image {
  fill: #fcfcfc;
}

.product-card-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
}

.product-card-button:hover .product-card-button-image {
  fill: #2d3440;
}

.product-card-button:active {
  background-color: #ffcbd8;
  border: 2px solid #ff2f64;
}

.product-card-button:focus {
  border: 2px solid #2d3440;
  outline: none;
}

.product-card-button:disabled {
  background-color: #b9b9b9;
}

.product-card-button:disabled .product-card-button-image {
  fill: #565c66;
}

/* Advantages */
.advantages-wrapper {
  margin-bottom: 80px;
  padding: 24px;
  box-sizing: border-box;
  background-image: url("../images/background-waffle.jpg");
  background-size: contain;
  border-radius: 16px;
}

.advantages {
  width: 1122px;
  padding: 56px 40px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  position: relative;
  max-width: 441px;
  padding-left: 64px;
  color: #565c66;
}

.advantages-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 40px;
}

.advantages-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  border: 2px solid #2d3440;
  border-radius: 50%;
}

.advantages-item-ice-cream::before {
  background-image: url("../images/advantages-ice-cream.svg");
}

.advantages-item-leaf::before {
  background-image: url("../images/advantages-leaf.svg");
}

.advantages-item-cow::before {
  background-image: url("../images/advantages-cow.svg");
}

.advantages-item-thermometer::before {
  background-image: url("../images/advantages-thermometer.svg");
}

/* Blog-news */
.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog-news {
  width: 570px;
  min-height: 224px;
  padding-top: 32px;
  padding-right: 235px;
  padding-bottom: 32px;
  padding-left: 32px;
  box-sizing: border-box;
  background-color: #ffffff;
  background-position: right top;
  background-image: url("../images/background-blog-news.jpg");
  background-repeat: no-repeat;
  background-size: 345px;
  border-radius: 16px;
}

.blog-news-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #565c66;
}

.article-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.article-link {
  color: #2d3440;
  text-decoration: none;
}

.article-link:hover {
  opacity: 0.5;
}

/* Subscription */
.subscription-wrapper {
  width: 570px;
  padding: 7px;
  box-sizing: border-box;
  background-image: url("../images/background-subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.subscription {
  width: 558px;
  padding: 26px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
}

.subscription-description {
  margin: 0;
  margin-bottom: 44px;
  color: #565c66;
}

.subscription-form {
  display: flex;
}

.form-field {
  padding: 13px 15px;
  box-sizing: border-box;
  color: #2d3440;
  font: inherit;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #b9b9b9;
  background-color: #ffffff;
  border-radius: 4px;
}

.form-field::placeholder {
  color: #b9b9b9;
}

.form-field:hover {
  border: 1px solid #2d3440;
}

.form-field:focus,
.form-field:focus-visible {
  padding: 12px 14px;
  border: 2px solid #2d3440;
  outline: none;
}

.form-field:invalid,
.form-field-error {
  border: 1px solid #ea5454;
}

.form-field-error:hover:invalid,
.form-field-error:hover {
  padding: 12px 14px;
  border: 2px solid #ea5454;
}

.form-field:disabled {
  background-color: #e7e7e7;
  border: 1px solid #b9b9b9;
}

.form-field:disabled::placeholder {
  color: rgb(45, 52, 64, 0.65);
}

.form-field:disabled:hover::placeholder {
  color: #2d3440;
}

.subscription-field {
  width: 332px;
  margin-right: 17px;
}

.subscription-form-button {
  align-self: center;
}

/* Delivery */
.delivery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 64px;
  background-image: url("../images/background-delivery.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  border-radius: 16px;
}

.delivery-inner {
  width: 380px;
  margin: auto 0;
  padding-left: 36px;
}

.delivery-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.delivery-description {
  margin-top: 0;
  margin-bottom: 0;
  color: #565c66;
}

.delivery-form-wrapper {
  width: 500px;
  padding: 41px 40px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.delivery-form-description {
  max-width: 380px;
  margin-top: 0;
  margin-bottom: 32px;
  color: #565c66;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form-label {
  display: block;
  font-weight: 700;
  line-height: 20px;
}

.form-label-margin {
  margin-bottom: 8px;
}

.delivery-form-address {
  grid-column: 1 / -1;
  margin-bottom: 12px;
}

.delivery-form-button {
  grid-column: 1 / -1;
  justify-self: center;
}

/* Tooltip */
.tooltip {
  display: flex;
  column-gap: 4px;
  align-items: center;
}

.tooltip-toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.tooltip-icon {
  fill: #2d3440;
}

.tooltip-toggle:focus-visible {
  outline: none;
}

.tooltip-toggle:hover .tooltip-icon,
.tooltip-toggle:focus .tooltip-icon,
.tooltip-toggle:focus-visible .tooltip-icon {
  fill: rgb(45, 52, 64, 0.5);
}

.tooltip-text {
  position: absolute;
  display: none;
  left: 25px;
  top: -10px;
  z-index: 1;
  width: 170px;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: #565c66;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.2);
}

.tooltip-toggle:hover::before {
  content: "";
  position: absolute;
  right: -9px;
  z-index: 2;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left: 0;
  border-right: 7px solid #b9b9b9;
}

.tooltip-toggle:hover::after {
  content: "";
  position: absolute;
  right: -10px;
  z-index: 2;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left: 0;
  border-right: 7px solid #ffffff;
}

.tooltip-toggle:hover .tooltip-text {
  display: block;
}


/* Contacts */
.contacts {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
  background-color: #ffffff;
  background-image: url("../images/background-contacts.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.contacts-wrapper {
  width: 343px;
  padding: 40px;
  box-sizing: border-box;
  font-style: inherit;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.contacts-wrapper p {
  color: #565c66;
}

.contacts-description {
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address {
  display: block;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-phone {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.contacts-work-hours {
  margin: 0;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
}

/* Footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 57px;
}

.footer-social {
  width: 230px;
  padding-left: 4px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social .social-item {
  margin-right: 16px;
}

.social-link {
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.social-link:hover {
  background-color: #2d3440;
}

.social-link:active {
  background-color: #2d3440;
  opacity: 0.5;
}

.social-link:focus {
  background-color: #2d3440;
  box-shadow: 0 0 0 2px #2d3440;
  outline: none;
}

.footer-about-us-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px 24px;
  max-width: 600px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-about-us-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.footer-about-us-link:hover {
  color: rgb(45, 52, 64, 0.5);
}

.footer-about-us-link:active {
  color: #000000;
}

.footer-about-us-link:focus {
  padding-bottom: 2px;
  border-bottom: 1px solid #2d3440;
  outline: none;
}

.footer-about-us-link-marked {
  position: relative;
  font-weight: 700;
}

.footer-about-us-link-marked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -23px;
  bottom: 0;
  right: 0;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
}

.footer-copyright {
  width: 193px;
  padding-right: 14px;
}

.copyright-logo-image {
  display: block;
  margin-bottom: 15px;
}

.copyright-logo:hover .copyright-logo-image {
  opacity: 0.5;
}

.copyright-logo:focus .copyright-logo-image,
.copyright-logo:focus-visible .copyright-logo-image {
  outline: 2px solid #2d3440;
}

.copyright-description {
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  color: #2d3440;
  text-decoration: underline solid rgb(45, 52, 64, 0.5);
  text-underline-offset: 2px;
}

.copyright-link:hover {
  color: rgb(45, 52, 64, 0.5);
}

.copyright-link:active {
  color: #000000;
}

.copyright-link:focus {
  padding-bottom: 2px;
  border-bottom: 2px solid #2d3440;
  text-underline-offset: 5px;
  outline: none;
}

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(45, 52, 64, 0.3);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.modal-feedback {
  width: 570px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  padding-top: 22px;
  padding-right: 22px;
  box-sizing: content-box;
  background-color: #fcfcfc;
  background-image: url("../images/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.5;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}


.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback-form-submit {
  margin-top: 16px;
}

.modal-container-close {
  display: none;
}

/* Inner Catalog */
.main-catalog {
  padding-top: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

/* Breadcrumbs */
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -20px;
  background-image: url("../images/arrow-double.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #2d3440;
}

.breadcrumbs-link[href]:hover {
  color: rgb(45, 52, 64, 0.5);
}

.breadcrumbs-link-current {
  padding-bottom: 1px;
  border-bottom: 1px solid #000000;
}

.catalog-header {
  margin-bottom: 16px;
}

.catalog-products-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

/* Filter */
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 17px;
  margin-bottom: 96px;
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 25px;
  padding: 0;
  border: none;
}

.catalog-filter-group:last-of-type {
  margin-right: 0;
}

.catalog-filter-title {
  margin-bottom: 9px;
  padding-left: 16px;
}

.control-container {
  padding: 5px 12px;
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: rgb(252, 252, 252, 0.3);
  border: 2px solid rgb(252, 252, 252, 0.3);
  border-radius: 20px;
}

.catalog-filter-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Select */
.control-select {
  min-width: 196px;
  padding-right: 60px;
  color: #2d3440;
  font: inherit;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  -webkit-appearance: none;
          appearance: none;
}

.control-select:hover {
  background-color: rgb(252, 252, 252, 0.5);
  border: 2px solid rgb(252, 252, 252, 0.5);
}

.control-select:focus {
  background-color: rgb(252, 252, 252, 0.4);
  border: 2px solid #fcfcfc;
  outline: none;
}

/* Range */
.range {
  padding: 14px 12px;
}

.range-title-wrapper {
  display: flex;
  align-items: center;
}

.catalog-filter-label {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0;
  font: inherit;
  color: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  background-color: rgb(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 2px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border: 6px solid #2d3440;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
}

.range-toggle:active {
  background-color: #2d3440;
}

.range-toggle:focus {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
  box-shadow: 0 0 0 2px #2d3440;
  outline: none;
}

.toggle-min {
  top: -6px;
  left: -6px;
}

.toggle-max {
  top: -6px;
  right: -6px;
}

/* Radio */
.catalog-filter-radio {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  min-width: 383px;
  padding: 5px 20px;
  box-sizing: border-box;
}

.control {
  position: relative;
  display: block;
}

.control-icon {
  position: absolute;
  top: 2px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1px solid #2d3440;
}

.control:hover .control-icon {
  border: 1px solid #fcfcfc;
}

.control:disabled .control-icon {
  border: 1px solid rgb(252, 252, 252, 0.5);
}

.control-icon[type="radio"] {
  border-radius: 50%;
}

.control-input[type="radio"] + .control-icon {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-icon::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background-color: #242424;
  border-radius: 50%;
  box-sizing: border-box;
}

.control-input[type="radio"]:checked:hover + .control-icon::before {
  background-color: #fcfcfc;
}

.control-input[type="radio"]:checked:disabled + .control-icon::before {
  background-color: rgb(252, 252, 252, 0.5);
}

/* Checkbox */
.catalog-filter-checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  min-width: 604px;
  padding: 7px 20px;
  box-sizing: border-box;
}

.control-input[type="checkbox"] + .control-icon {
  border-radius: 2px;
}

.control-icon svg {
  display: none;
}

.control-input[type="checkbox"]:checked + .control-icon {
  border: none;
}

.control-input[type="checkbox"]:checked + .control-icon svg {
  display: block;
}

.control-input[type="checkbox"]:checked:hover + .control-icon svg {
  fill: #fcfcfc;
}

.control-input[type="checkbox"]:checked:disabled + .control-icon svg {
  fill: rgb(252, 252, 252, 0.5);
}

.control-label {
  padding-left: 25px;
}

/* Filter button  */
.catalog-filter-button {
  min-width: 185px;
  margin-top: 28px;
  margin-left: 16px;
}

/* Catalog */
.product-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 91px 30px;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  list-style-type: none;
}

.pagination-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  padding-top: 41px;
  padding-bottom: 41px;
}

.pagination-show-more {
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
  margin-right: 15px;
}

.pagination-container {
  display: flex;
  justify-self: end;
  align-self: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-arrow {
  display: flex;
  min-width: 16px;
  min-height: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-image: url("../images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.pagination-prev {
  transform: rotate(180deg);
}

.pagination-disabled {
  opacity: 0.3;
}

.catalog-pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  align-items: center;
  row-gap: 10px;
  max-width: 400px;
  margin-right: 8px;
  margin-left: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  box-sizing: border-box;
  line-height: 20px;
  color: #2d3440;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 50%;
  text-decoration: none;
  aspect-ratio: 1 / 1;
}


.pagination-link[href]:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid rgba(252, 252, 252, 0.5);
}

.pagination-link[href]:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #fcfcfc;
}

.pagination-link[href]:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #2d3440;
  outline: none;
}

.pagination-current {
  background-color: #fcfcfc;
  border: 1px solid #fcfcfc;
}
